*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}
.App{
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-flow: column wrap;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}
 .select {
    padding: 10 px;
    margin-top: 15px;
 }